{% extends 'base.html' %}

{% block title %}{{ patient }}{% endblock %}
{% block content %}
    <section>
        <h3>Medication History</h3>
        <ul>
            {% for prescription in prescription_list %}
                <li>
                    <a href="">{{ prescription }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no prescriptions history for this patient.</em></li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h3>Appointment History</h3>
        <ul>
            {% for appointment in appointment_list %}
                <li>
                    <a href="">{{ appointment }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no appointment history for this patient.</em></li>
            {% endfor %}
        </ul>
    </section>
    <a class="btn btn-default" href="{% url 'prescribe_url' pk=patient.pk %}">Prescribe Medication</a>
{% endblock %}