<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ patient }}</title>
</head>
<body>
    <section>
        <h3>Current Prescriptions</h3>
        <ul>
            {% for prescription in prescription_list %}
                {% if prescription.end_date > today %}
                <li>
                    <a href="">{{ prescription }}</a>
                </li>
                {% endif %}
            {% empty %}
                <li><em>There are currently no prescriptions for you.</em></li>
            {% endfor %}
        </ul>
    </section>
    <a class="btn btn-default" href="{% url 'make_appointment_url' pk=patient.pk %}">Make Appointment</a>
</body>
</html>