{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <header class = "jumbotron">
        <div class = "container">
            {% if user.is_authenticated %}
                <h3>Hi! {{ user }}.</h3>
                <div style="padding-top:50px">
                {% if user.is_doctor %}
                    <a class = "btn btn-primary" href="{% url 'doctor_view_url'%}" >go to doctor view</a>
                {% endif %}
                {% if user.is_patient %}
                    <a class = "btn btn-success" href="{% url 'patient_view_url'%}" >go to patient view</a>
                {% endif %}
                <a class = "btn btn-default" href="{% url 'logout' %}">logout</a>
                </div>
            {% else %}
                <h3>Welcome to Willhelm Medication System!</h3>
                <div style="padding-top:50px">
                    <a class = "btn btn-success" href="{% url 'login' %}">login</a>
                <a class = "btn btn-primary" href="{% url 'signup' %}">signup</a>
                </div>
            {% endif %}
        </div>
    </header>
{% endblock %}